--
-- PostgreSQL database dump
--

\restrict y9QdHrcDHputbHD1kv0BS1vBNwA8e3ZaZm8vTsC9xibOpKyAbhmSsMlNqOx5QhM

-- Dumped from database version 17.9
-- Dumped by pg_dump version 17.9

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: attractions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.categories (id, name, type) FROM stdin;
1	Historical	Attraction
2	Nature	Attraction
\.


--
-- Data for Name: hotels; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: restaurants; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: attractions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.attractions_id_seq', 246, true);


--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.categories_id_seq', 2, true);


--
-- Name: hotels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.hotels_id_seq', 183, true);


--
-- Name: restaurants_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.restaurants_id_seq', 226, true);


--
-- PostgreSQL database dump complete
--

\unrestrict y9QdHrcDHputbHD1kv0BS1vBNwA8e3ZaZm8vTsC9xibOpKyAbhmSsMlNqOx5QhM

