--
-- PostgreSQL database dump
--

\restrict mOuhjr3cH7A2LNYg2HgDnVf80V8jbHzq4kmXYXEA5cjTKwh4rFQtEQ1oQCm6jO7

-- Dumped from database version 17.9
-- Dumped by pg_dump version 17.9

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: attractions; Type: TABLE DATA; Schema: public; Owner: postgres
--

SET SESSION AUTHORIZATION DEFAULT;

ALTER TABLE public.attractions DISABLE TRIGGER ALL;



ALTER TABLE public.attractions ENABLE TRIGGER ALL;

--
-- Name: attractions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.attractions_id_seq', 246, true);


--
-- PostgreSQL database dump complete
--

\unrestrict mOuhjr3cH7A2LNYg2HgDnVf80V8jbHzq4kmXYXEA5cjTKwh4rFQtEQ1oQCm6jO7

